
 header {
 	font-family: font-family: 'Lato', sans-serif;
	font-family: 'Montserrat', sans-serif;;
 }
 /*parte el menu*/
 .contenedor {
 	background-color: #2C3E50;
 	width: 100%;
 	position: fixed;
 	top: 0;
 	left: 0;
 	color: #FFFFFF;
 	font-weight: 700;
 	z-index: 3;	
 }

.contenedor ul {
	list-style: none;
}

.contenedor li:first-child {
 	font-size: 32px;
 	margin-left: 80px;
 	margin-right: 490px;
}

.menu0:hover{
	cursor: pointer;
	color: #ffffff;
}
.contenedor li {
 	display: inline-block;
 	margin: 5px;
 	margin-left: 20px;
 	text-transform: uppercase;
 	margin-bottom: 30px;
 	margin-top: 20px;
 }
.menu:hover{
	cursor: pointer;
	color: #00C69C;
}
/*seccion start bootstrap*/
.contenedor2 {
 	position: relative;
 	background-color: #18bc9c;
 	width: 100%;
 	height: 700px;
 	top: 113px;
 	padding-right: 16px;
 	right: 8px;
}

.contenedor2 img{
 	padding: 85px;
 	margin-left: 450px;
}

.contenedor2 .conte {
	position: absolute;
	color: #FFFFFF;
	font-size: 75px;
	top: 365px;
	left: 290px;
	font-weight: 700;
	text-transform: uppercase;
	font-family: 'Montserrat', sans-serif;;
	/*letter-spacing: en caso de separar letras*/
}

.icon {
 	position: absolute;
 	font-size: 33px;
 	color: #ffffff;
 	left: 647px;
 	top: 480px;
 }
.line1 {
 	position: absolute;
 	width: 100px;
 	top: 490px;
 	left: 530px;
 	border: 2.5px solid white;
 }
.line2 {
	position: absolute;
	width: 100px;
	top: 490px;
	left: 690px;
	border: 2.5px solid white;
}

.texto {
	position: absolute;
	top: 520px; 
	left: 300px;
	font-size: 28px;
	color: white;
	font-weight: 300;
	font-family: 'Lato', sans-serif;
}
/*seccion portfolio*/
.contenedor3{
	position: relative;
	background-color: #ffff;
}
.conte2 {
	position: absolute;
	text-transform: uppercase;
	color: #212529;
	top: 240px;
	left: 519px;
	font-size: 48px;
	font-weight: 700;
	font-family: 'Montserrat', sans-serif;;

}
 .icon2 {
 	position: absolute;
 	font-size: 33px;
 	color: #212529;
 	left: 647px;
 	top: 310px;
 }
 .line3 {
 	position: absolute;
 	width: 100px;
 	top: 320px;
 	left: 530px;
 	border: 2.5px solid #212529;
 }
.line4 {
	position: absolute;
	width: 100px;
	top: 320px;
	left: 690px;
	border: 2.5px solid #212529;
}
.imagen img {
	position: absolute;
	float: left;
	margin: 20px; 
	width: 350px;
	height: 250px;
	top: 400px;
}

.image img {
	left: 100px;
}

.image1 img {
	left: 480px;
}

.image2 img {
	left: 860px;
}

.image3 img {
	top: 680px;
	left: 100px;
	margin-bottom: 130px;
}

.image4 img {
	top: 680px;
	left: 480px;
	margin-bottom: 130px;
}

.image5 img {
	top: 680px;
	left: 860px;
	margin-bottom: 130px;
}
/*seccion about*/
.contenedor4{
	position: relative;
	background-color: #18bc9c;
	top: 1080px;
	width: 100%;
	height: 600px;
	padding-right: 16px;
 	right: 8px;
}

.conte3 {
	position: absolute;
	text-transform: uppercase;
	color: #ffffff;
	top: 100px;
	left: 576px;
	font-size: 48px;
	font-weight: 700;
	font-family: 'Montserrat', sans-serif;;
}
 .icon3 {
 	position: absolute;
 	font-size: 33px;
 	color: #ffffff;
 	left: 647px;
 	top: 170px;
 }
 .line5 {
 	position: absolute;
 	width: 100px;
 	top: 180px;
 	left: 530px;
 	border: 2.5px solid #ffffff;
 }
.line6 {
	position: absolute;
	width: 100px;
	top: 180px;
	left: 690px;
	border: 2.5px solid #ffffff;
}
.contenedor4 p {
	position: absolute;
	font-family: 'Lato', sans-serif;
	max-width: 380px;
	color: #ffffff;
	font-size: 20px;
	font-weight: 400;
	line-height: 30px;
	text-align: left;
}

.texto1 p{
	top: 220px;
	left: 263px;
	
}
.texto2 p{
	top: 220px;
	left: 680px;
}

.buttom{
	position: absolute;
	text-decoration: none;
	color: #ffffff;
 	border-radius: 5px;
 	border: 2px solid #ffffff;
 	float: left;
 	margin-left: -280px;
 	margin-top: -550px;
 	margin-bottom: 50px;
 	padding: 8px 0px;
 	top: 990px;
	left: 800px;
	width: 220px;
 	/*font-size: 40px;*/
}

.buttom:hover{
	background-color: #ffffff;
	color: #00C69C;
}

.contenedor4 a {
	font-size: 20px;
	/*line-height: 30px;*/
	color: #ffffff;
	font-family: 'lato', sans-serif;
}

.buttom i{
	float: left;
	width: 20px;
	height: 20px;
	color: black;
	left: -15px;
	top: 50px;
}

/*seccion contact me*/
.contenedor5 {
	position: relative;
	background-color: #ffffff;
	height: 400px;
	top: 1080px;
}
.conte4 {
	position: absolute;
	text-transform: uppercase;
	color: #212529;
	top: 120px;
	left: 500px;
	font-size: 48px;
	font-weight: 700;
	font-family: 'Montserrat', sans-serif;;

}
 .icon4 {
 	position: absolute;
 	font-size: 33px;
 	color: #212529;
 	left: 647px;
 	top: 190px;
 }
 .line7 {
 	position: absolute;
 	width: 100px;
 	top: 200px;
 	left: 530px;
 	border: 2.5px solid #212529;
 }
.line8 {
	position: absolute;
	width: 100px;
	top: 200px;
	left: 690px;
	border: 2.5px solid #212529;
}
/*formulario*/
form {
	position: absolute;
	top: 300px;
	left: 350px;
}
input {
	width: 630px;
	font-size: 1.5em;
	padding-bottom: 30px;
	padding-top: 30px;
	border: none;
	border-bottom: 1px solid #eee;
	font-family: 'Lato', sans-serif;
}
textarea {
	width: 630px;
	font-size: 1.5em;
	padding-bottom: 30px;
	padding-top: 30px;
	border: none;
	border-bottom: 1px solid #eee;
	font-family: 'Lato', sans-serif;
	resize: none;
	margin-bottom: 50px;
}

input:focus {
	outline: 0px;
}
textarea:focus {
	outline: 0px;
}

button {
	font-weight: 700;
	width: 100px;
	color: #ffffff;
	border: none;
	font-size: 1.3em;
	padding: 10px 5px;
	border-radius: 5px;
	background-color: #18bc9c;
	font-family: 'Lato', sans-serif;
	margin-bottom: 100px;
}
button:hover{
	color:#ffffff;
	background-color: #009676;
}
/*pie de pagina*/
footer {
	position: relative;
	background-color: #2C3E50;
	width: 100%;
	top: 1660px;
	padding-right: 16px;
 	right: 8px;
 	color: #ffffff;
 	margin-bottom: 0px;
 	font-family: font-family: 'Lato', sans-serif;
	font-family: 'Montserrat', sans-serif;;
 }

.footer {
	display: inline-block;
	vertical-align: top;
}

.footer:first-child{
	margin-left: 150px;
}

.footer h3{
	font-size: 28px;
	font-weight: 700;
	text-transform: uppercase;
	margin: 50px 65px;
}
.footer p{
	font-size: 20px;
	text-align: center;
	line-height: 1.5;
}
.parrafo0 h3{
	padding-bottom: 5px;
	margin-left: 115px;
}

.parrafo1 h3{
	margin-bottom: 50px;
	margin-left: 45px;
} 
.parrafo1 p{
	margin-top: 25px;
	margin-left: 15px;
}
.parrafo1 p a{
	color: #18bc9c;
	text-decoration: none; 
}
.parrafo1 p a:hover{
	color: #18bc9c;
	background: no-repeat;
	text-decoration: underline;
}
/*iconos de pie de pagina*/
.footer a i{
	font-size: 20px;
	color: #ffffff;
	border: 2px solid #ffffff;
	border-radius: 50%;
	text-align: center;
	padding: 15px;
	margin: 3px;
}
.footer .fa-facebook{
	margin-left: 95px;
	padding: 15px 18px;
}

.footer .fa-google-plus{
	padding: 15px 13px;
}

.footer a i:hover{
	color: #12bd9c;
	background-color: #ffffff;
}
/*ultima parte de pie de pagina*/
.last p{
	color: #ffffff;
	width: 250px;
	font-size: 16px;
	padding-bottom: 30px;
	margin-top: 65px;
	margin-left: 550px;
	text-decoration: none;
	font-family: font-family: 'Lato', sans-serif;
}
.last p{
	cursor: auto;
}